<!DOCTYPE html>
<html ng-app="MainModule">
    <head>
        <title>HTML5 ExpressJS NodeJS App</title>
        <script data-require="angular.js.1.3@*" data-semver="1.5.2" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.js"></script>
        <script src="../main.js"></script>
    </head>
    <body>
        <div ng-controller="ProjectsController">
            <strong>{{title}}</strong>
            <br/>
            <ul ng-repeat="project in projects | orderBy">
                <li>{{project}}</li>
            </ul>
            <button ng-click="add()">Add</button>
        </div>
    </body>
</html>